<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Event Organizer Website Design Tutorial</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">'
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">

    <a class="logo"><span>Hot</span>Spot</a>

    <nav class="navbar">
        <a href="/index">home</a>
        <a href="/tops">tops</a>
        <a href="#map">maps</a>
        <a href="/login">login</a>
    </nav>
    <div id="menu-bars" class="fas fa-bars"></div>

</header>

<!-- price section starts  -->

<section class="price" id="price">

    <h1 class="heading"> HOTSPOT'S <span>TOPS</span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">Top-5 Action films</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">Read more</a>
        </div>

        <div class="box">
            <h3 class="title">Top-3 places to try =best pizza</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">Read more</a>
        </div>

        <div class="box">
            <h3 class="title">TOP-5 places to ride a bike</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">Read more</a>
        </div>

        <div class="box">
            <h3 class="title">Top-10 iconic touristic places</h3>

            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

    </div>


</section>

<!-- price section ends -->
</body>
</html>